.logo{
text-align: center;
  display: block;
  margin: 0 auto;
  align-self: center;
  width: 120px;
  position: relative;
  top: 140px;
  


    

}

.caption{
text-align: center;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 140px;
}

    
    




.words{
    color: rgb(0, 0, 0);
    text-decoration-line:none;
    font-size: 80%;
    text-align: center;
    position: relative;
    top: 180px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}


.search{
    text-align: center;
  display: block;
  margin: 0 auto;
  position: relative;
  top:160px
    
    
}


    
    


