body{
    background-color: #F7F7F7;
}




.logo{
text-align: center;
  display: block;
  margin: 0 auto;
  align-self: center;
  width: 145px;
  position: relative;
  top: 125px;
  border: none;
  color:#F7F7F7;
  border-block-color: #F7F7F7;
}
  
.logo:hover{
    cursor: pointer;
    
}



.caption{
    text-align: center;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 128px;
    font-family: 'Courier New', Courier, monospace;
}



input{
    width: 300px;
}

:focus{
    outline-color: transparent;
    outline-style: none;
}

.search{
    display:inline-flexbox;
    width: 200px;
    text-align: center;
    align-self: auto;
    margin: 0 auto;
    top:130px;
    position: relative;
    right: 50px;
    
    
}

#button{
    position: absolute ; 
    border:0px solid #F7F7F7;
    top: -1.3px;
    width: 20px;
    height:19px;
    right: -105px;
    cursor: pointer;
    background-color: #F7F7F7;
    background-repeat: no-repeat;
    background-size: 100px;
    
    
   
}  

#icon{
    background-repeat: no-repeat;
    background-size: 20px;
}

#button:hover{
    background-color: green;
   color: green;
}   




.words{
    color: rgb(0, 0, 0);
    text-decoration-line:none;
    font-size: 80%;
    text-align: center;
    position: relative;
    top: 135px;
    font-family:'Courier New', Courier, monospace;
    font-size: 10px;
    
    
}




    
    


